<div class="wrapper">
  <div *ngIf="!editedFilter; else edit" class="left-bar">
    <img src="/assets/icons/add.svg" class="enabled" (click)="addingNewFilterRequested(scrollTarget)" />
    <img src="/assets/icons/edit.svg" class="enabled" [class.d-none]="!selectedFilter" (click)="editFilterRequested()" />
    <div class="button-wrapper" [class.d-none]="!selectedFilter" (mouseleave)="showDeleteFilterTooltip = false">
      <img src="/assets/icons/delete.svg" class="enabled" (click)="deleteFilterRequested()" />
      <div *ngIf="showDeleteFilterTooltip" class="delete-tooltip">
        Czy na pewno usunąć wybrany filtr?
        <button class="btn btn-link tooltip-delete-button" (click)="deleteSelectedFilter()">Usuń</button>
      </div>
    </div>
  </div>
  <ng-template #edit>
    <div class="left-bar">
      <img src="/assets/icons/accept.svg" [class.enabled]="expressionOk && editedFilter.tags.length > 0" (click)="confirmChanges()" />
      <img src="/assets/icons/cancel.svg" class="enabled" (click)="cancelEditMode()" />
    </div>
  </ng-template>
  <div class="content">
    <table class="table">
      <thead #scrollTarget>
        <tr>
          <th scope="col" style="width: 20%">Tagi</th>
          <th scope="col" style="width: 80%">Wyrażenie</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="addingNewFilter">
          <ng-container [ngTemplateOutlet]="editFilterTemplate"></ng-container>
        </tr>
        <tr *ngFor="let filter of filters" [class.selected]="selectedFilter === filter && !editedFilter" 
        (click)="filterClicked(filter, $event.target)">
          <ng-container *ngIf="!editedFilter || editedFilter.id !== filter.id; else editFilter">
            <td>
              <div *ngIf="!dataAvailable; else tags" class="loader"></div>
              <ng-template #tags>
                <div *ngFor="let tag of getTags(filter)">
                  <app-tag [tag]="tag" [tooltipSide]="'right'"></app-tag>
                </div>
              </ng-template>
            </td>
            <td class="expression">{{ filter.expression }}</td>
          </ng-container>
          <ng-template #editFilter>
            <ng-container [ngTemplateOutlet]="editFilterTemplate"></ng-container>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #editFilterTemplate>
  <td>
    <div *ngIf="editedFilter.tags.length > 0" class="tags-wrapper">
      <app-tag *ngFor="let tag of editedFilter.tags" 
      [tag]="tag" [tooltipSide]="'right'"
      (removalRequested)="tagRemovalRequested(tag)"></app-tag>
    </div>
    <input type="text" class="form-control form-control-sm" autofocus placeholder="Nazwa taga" (keyup.enter)="addTagToEditedFilter(tagNameInput)" #tagNameInput />
  </td>
  <td>
    <form #expressionForm="ngForm">
      <div class="input-group">
        <input type="text" class="form-control form-control-sm expression" placeholder="Wyrażenie" name="expression" [(ngModel)]="editedFilter.expression" (keyup)="expressionChanged(expressionInput)" #expressionInput>
        <div class="input-group-append">
          <button class="btn btn-sm" type="button" 
          [class.btn-outline-secondary]="expressionNotChecked"
          [class.btn-outline-success]="expressionOk"
          [class.btn-outline-danger]="expressionWrong"
          (click)="checkEditedFilterExpression()">{{ expressionButtonText }}</button>
        </div>
      </div>
    </form>
  </td>
</ng-template>