<div class="upper-bar">
  <h1>Analyst</h1>
  <div class="file-selection">
    <app-file-upload (fileSelected)="onFileSelected($event)"></app-file-upload>
  </div>
</div>
<div *ngIf="loadingXml; else notLoading" class="loader">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<ng-template #notLoading>
  <div class="datepicker-wrapper">
    <h1>
      Transakcje od <b>{{ dateRange.from | date:'dd.MM.yyyy' }}</b> do <b>{{ dateRange.to | date:'dd.MM.yyyy' }}</b>
      <i (click)="showCalendar = !showCalendar">zmień</i>
    </h1>
    <div *ngIf="showCalendar" class="datepicker">
      <app-date-range (dateRangeChange)="onDateRangeChanged($event)"></app-date-range>
    </div>
  </div>
  <div class="chart-wrapper">
    <app-chart [data$]="chartData$" (tagClicked)="tagClickedOnChart($event)"></app-chart>
  </div>
</ng-template>
<div class="list-wrapper" [class.expanded]="expandList">
  <div class="list-bar">
    <div class="expand-button" (click)="toggleMode()">
      <div class="arrow" [class.down]="expandList"></div>
    </div>
    <div class="tab-selector">
      <div class="tab" [class.selected]="activeTab === 'Transakcje'" (click)="activeTab = 'Transakcje'">Transakcje</div>
      <div class="tab" [class.selected]="activeTab === 'Filtry'" (click)="activeTab = 'Filtry'">Filtry</div>
    </div>
    <div class="available-tags">
      <app-tag *ngFor="let tag of tags" [tag]="tag" [tooltipDebounceTime]="1000" [allowChangeColor]="true" [allowDelete]="true"
      (click)="tagClicked(tag)" (colorChangeRequested)="changeTagColor($event, tag.name)"
      (removalRequested)="tagRemovalRequested(tag)"></app-tag>
    </div>
  </div>
  <div class="list">
    <div class="list-template" [hidden]="activeTab !== 'Transakcje'">
      <app-transactions-list 
      [transactions$]="transactionListData$"
      [tagSelected$]="tagSelected_transactionsList$"
      (transactionIgnoreValueChanged)="changeTransactionIgnoreValue($event)"></app-transactions-list>
    </div>
    <div class="list-template" [hidden]="activeTab !== 'Filtry'">
      <app-filter-manager [tagSelected$]="tagSelected_filterManager$"></app-filter-manager>
    </div>
  </div>
</div>