<div class="upper-bar">
  <h1>Analyst</h1>
  <div class="file-selection">
    <app-file-upload (fileSelected)="onFileSelected($event)"></app-file-upload>
  </div>
</div>
<div class="datepicker-wrapper">
  <h1>
    Transakcje od <b>{{ dateRange.from | date:'dd.MM.yyyy' }}</b> do <b>{{ dateRange.to | date:'dd.MM.yyyy' }}</b>
    <i (click)="showCalendar = !showCalendar">zmień</i>
  </h1>
  <div *ngIf="showCalendar" class="datepicker">
    <app-date-range (dateRangeChange)="onDateRangeChanged($event)"></app-date-range>
  </div>
</div>
<div class="chart-wrapper">
  <app-chart [transactions$]="filteredTransactions$" (tagClicked)="onTagClicked($event)"></app-chart>
</div>
<div class="list-wrapper" [class.expanded]="expandList">
  <app-transactions-list [transactions$]="filteredTransactions$"
  (transactionIgnoreValueChanged)="changeTransactionIgnoreValue($event)"
  (tagColorChangeRequested)="changeTagColor($event.tagName, $event.color)"
  (modeChanged)="onListModeChanged($event)"></app-transactions-list>
</div>