.upper-bar {
  height: 44px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 200;
}

.upper-bar h1 {
  color: white;
  font-size: 18px;
  position: absolute;
  margin: auto 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.upper-bar .file-selection {
  position: absolute;
  right: 10px;
  margin: auto 0;
  top: 60%;
  transform: translateY(-50%);
}

.datepicker-wrapper {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.datepicker-wrapper h1 {
  font-size: 18px;
  padding: 10px;
  font-weight: 450;
}

.datepicker-wrapper h1 i {
  padding: 4px;
  font-size: 14px;
  font-weight: 450;
  color: blue;
  cursor: pointer;
}

.datepicker-wrapper h1 i:hover {
  text-decoration: underline;
}

.datepicker {
  background-color: white;
}

.chart-wrapper {
  height: calc(60vh - 44px);
  padding: 40px;
}

.list-wrapper {
  height: 40vh;
  background-color: white;
  position: absolute;
  bottom: 0;
  transition: all .4s ease-out;
}

.list-wrapper.expanded {
  height: calc(100vh - 44px);
}