.upper-bar {
  height: 44px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 200;
}

.upper-bar h1 {
  color: white;
  font-size: 18px;
  position: absolute;
  margin: auto 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.upper-bar .file-selection {
  position: absolute;
  right: 10px;
  margin: auto 0;
  top: 60%;
  transform: translateY(-50%);
}

.spinner-border {
  position: absolute;
  left: -50px;
}

.datepicker-wrapper {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.datepicker-wrapper h1 {
  font-size: 18px;
  padding: 10px;
  font-weight: 450;
}

.datepicker-wrapper h1 i {
  padding: 4px;
  font-size: 14px;
  font-weight: 450;
  color: blue;
  cursor: pointer;
}

.datepicker-wrapper h1 i:hover {
  text-decoration: underline;
}

.datepicker {
  background-color: white;
}

.chart-wrapper {
  height: calc(60vh - 44px);
  padding: 40px;
}

.list-wrapper {
  height: 40%;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  transition: all .4s ease-out;
  z-index: 100;
  display: flex;
  flex-flow: column;
}

.list-wrapper.expanded {
  height: calc(100vh - 44px);
}

.list-bar {
  position: relative;
  padding-left: 60px;
  border-bottom: 1px solid lightgray;
}

.expand-button {
  padding: 4px;
  position: absolute;
  left: 16px;
  top: 16px;
  cursor: pointer;
}

.arrow {
  height: 16px;
  width: 16px;
  border-width: 2px 2px 0px 0px;
  border-style: solid;
  border-color: darkgray;
  transform: rotate(-45deg);
}

.arrow.down {
  transform: translateY(-5px) rotate(135deg);
}

.arrow:hover {
  border-color: cornflowerblue;
}

.tab-selector {
  display: flex;
  width: fit-content;
  line-height: 50px;
}

.tab {
  display: inline-block;
  text-align: center;
  width: 100px;
  background-color: white;
  cursor: pointer;
}

.tab:hover {
  font-weight: bold;
  color: cornflowerblue;
}

.tab.selected {
  font-weight: bold;
  border-left: 1.5px solid lightgray;
  border-top: 1.5px solid lightgray;
  border-right: 1.5px solid lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: translateY(1.5px);
}

.available-tags {
  width: calc(100% - 260px);
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  top: 0;
  background-color: white;
  padding: 5px;
  height: 100%;
  align-content: center;
}

.list {
  overflow-y: auto;
  height: 100%;
}

.list .selected {
  z-index: 50;
}

.list-template {
  height: 100%;
}
