<div *ngIf="dataAvailable; else noData" class="wrapper">
  <div class="canvas-wrapper">
    <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [legend]="false"
      [colors]="pieChartColors"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="summary">
    <div *ngFor="let item of sortedData" class="tag-summary">
      <div class="amount">{{ item.spendings | number:'1.2-2' }} zł</div>
      <app-tag *ngIf="item.tag.name !== 'Inne'; else othersSummary" 
      [tag]="item.tag" [allowChangeColor]="true" [tooltipSide]="'right'"
      (click)="onTagClicked(item.tag)"></app-tag>
      <ng-template #othersSummary>
        <span class="others">Inne</span>
      </ng-template>
    </div>
    <div class="amount total">{{ total | number:'1.2-2' }} zł</div>
  </div>
</div>
<ng-template #noData>
  <div class="no-data-info">
    <p>Brak danych do wyświetlenia</p>
  </div>
</ng-template>