<div *ngIf="displayChart" class="wrapper">
  <div class="canvas-wrapper">
    <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [legend]="false"
      [colors]="pieChartColors"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="summary">
    <div *ngFor="let item of data; let i = index" class="tag-summary">
      <div class="amount">{{ pieChartData[i] | number:'1.2-2' }} zł</div>
      <span *ngIf="i < data.length - 1; else othersSummary" class="badge badge-pill tag" [style.background-color]="pieChartColors[0].backgroundColor[i]">{{ pieChartLabels[i] }}</span>
      <ng-template #othersSummary>
        <span class="others">Inne</span>
      </ng-template>
    </div>
    <div class="amount total">{{ total | number:'1.2-2' }} zł</div>
  </div>
</div>