<div *ngIf="displayChart">
  <div class="canvas-wrapper">
    <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [legend]="false"
      [colors]="pieChartColors"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="summary">
    <div *ngFor="let tag of tags; let i = index" class="tag-summary">
      <div class="amount">{{ pieChartData[i] | number:'1.2-2' }} zł</div>
      <span class="badge badge-pill tag" [style.background-color]="tag.color">{{ tag.name }}</span>
    </div>
    <div class="tag-summary">
      <div class="amount">{{ pieChartData[pieChartData.length - 1] | number:'1.2-2' }} zł</div>
      <span class="others">Inne</span>
    </div>
    <div class="amount total">{{ total | number:'1.2-2' }} zł</div>
  </div>
</div>