<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 7em">Data</th>
      <th scope="col" style="width: 8%">Typ</th>
      <th scope="col" style="width: 55%">Opis</th>
      <th scope="col" style="width: 6em">Kwota</th>
      <th scope="col" style="width: 5%"></th>
      <th scope="col" style="width: 12%"></th>
      <th scope="col" style="width: 5%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions; let i = index" [class.ignored]="transaction.ignored" [class.selected]="selectedTransactionIndex === i" 
    (click)="transactionClicked(i)">
      <td>{{ transaction.orderDate | date:'dd.MM.yyyy' }}</td>
      <td>{{ transaction.type }}</td>
      <td class="text-wrap">{{ transaction.description }}</td>
      <td [class.text-danger]="transaction.amount < 0">{{ transaction.amount | number:'1.2-2' }}</td>
      <td>
        <span class="comment" (mouseleave)="closeComment()">
          <img class="comment-icon" 
          [src]="transaction.comment ? '/assets/icons/comment-filled.png' : '/assets/icons/comment-empty.png'" 
          (click)="commentIconClicked(transaction); $event.stopPropagation()"
          (mouseenter)="commentIconHovered(transaction)" />
          <div *ngIf="expandedCommentTransaction === transaction" class="comment-tooltip left"
          (click)="$event.stopPropagation()">
            <div *ngIf="!commentEdited; else commentEditMode">
              {{ transaction.comment }}
              <button class="btn btn-link edit-comment-button" (click)="editCommentRequested(transaction)">Edytuj</button>
              <button class="btn btn-link remove-comment-button" (click)="removeComment(transaction)">Usuń</button>
            </div>
            <ng-template #commentEditMode>
              <form #commentForm="ngForm">
                <input type="text" class="form-control form-control-sm comment-input" autofocus autocomplete="off"
                id="commentInput" name="commentInput" #commentInput="ngModel" [(ngModel)]="commentText"
                (keyup.enter)="onCommentEdited(transaction)" />
              </form>
            </ng-template>
          </div>
        </span>
      </td>
      <td>
        <div class="tags">
          <app-tag *ngFor="let tag of transaction.tags" [tag]="tag" [forbidden]="isTagForbidden(tag, transaction)" [allowChangeColor]="false" [allowDelete]="true"
          (removalRequested)="removeTagFromTransaction(tag.name, transaction.id)"></app-tag>
        </div>
      </td>
      <td>
        <div class="ignore-transaction" (click)="toggleIgnored(transaction)">
          {{ transaction.ignored ? 'Przywróć' : 'Ignoruj' }}
        </div>
      </td>
    </tr>
  </tbody>
</table>