<div class="wrapper">
  <div class="available-tags">
    <div class="expand-button" (click)="toggleMode()">
      <div class="arrow" [class.down]="editModeActive"></div>
    </div>
    <span *ngFor="let tag of tags" class="tag" (click)="addTagToTransaction(tag)">
      <span class="badge badge-pill" [style.background-color]="tag.color">{{ tag.name }}</span>
    </span>
  </div>
  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 7em">Data</th>
          <th scope="col" style="width: 8%">Typ</th>
          <th scope="col" style="width: 47%">Opis</th>
          <th scope="col" style="width: 7em">Kwota</th>
          <th scope="col" style="width: 25%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions" [class.selected]="selectedTransaction === transaction" (click)="transactionClicked(transaction)">
          <td>{{ transaction.orderDate | date:'dd.MM.yyyy' }}</td>
          <td>{{ transaction.type }}</td>
          <td class="text-wrap">{{ transaction.description }}</td>
          <td [class.text-danger]="transaction.amount < 0">{{ transaction.amount | number:'1.2-2' }}</td>
          <td>
            <div class="tag-input-wrapper">
              <input type="text" class="form-control form-control-sm tag-input" (keyup.enter)="addNewTagTotransaction(tagNameInput, transaction.id)" #tagNameInput/>
            </div>
            <div class="tags">
              <span *ngFor="let tag of getTagsForTransaction(transaction.id)" class="tag" (mouseleave)="tagBlurred()">
                <span class="badge badge-pill" 
                  [style.background-color]="tag.color" (mouseenter)="tagHovered(tag.name, transaction.id)">
                  {{ tag.name }}
                  <div *ngIf="isTagTooltipActive(tag.name, transaction.id)" class="tag-tooltip">
                    <input *ngIf="changingTagColor" type="text" class="form-control form-control-sm tag-color-input" autofocus (keyup.enter)="changeTagColor(tagColorInput, tag.name)" #tagColorInput />
                    <button *ngIf="!changingTagColor" class="btn btn-light" (click)="changeColorClicked()">Change color</button>
                    <button *ngIf="!changingTagColor" class="btn btn-danger" (click)="removeTagFromTransaction(tag.name, transaction.id)">Remove</button>
                  </div>
                </span>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>